.price-grid {
  overflow: hidden;
  width: min(95%, 80rem);

  display: grid;
  grid-template-columns: 1fr;

  padding-block: 2rem;
  gap: 2rem;
  margin-inline: auto;

  border-radius: 8px;
}

@media screen and (min-width: 800px) {

}
